<header id="header">
	<div class="container">
		<div class="logo"><a href="index.html"><img src="images/logo.png" alt="evolute"></a></div>
		<a href="#" class="nav-opener"><span></span></a>
		<nav class="mobile-drop">
			<ul id="nav">
				<li><a href="index.html">Get Started</a></li>
				<li><a href="features.html">Features</a></li>
				<li class="active"><a href="pricing.html">Pricng</a></li>
				<li><a href="documentation.html">Documentation</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="about-us.html">About Us</a></li>
			</ul>
		</nav>
	</div>
</header>